<div id="footer" class="card mt-5">
      <div class="card-body d-flex justify-content-center">
            <p class="card-text"><span id="brand-name">NoMadTravels</span> &copy 2022&nbsp&nbsp<span
                        id="divider">|</span>&nbsp&nbspAll Copyrights
                  Reserved</p>
      </div>
</div>