<div>
        <h3 class="float-md-left mb-0">TravelBlog</h3>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link active" aria-current="page" href="#">Blogs</a>
          <a class="nav-link" href="">About Us</a>

        </nav>
</div>