{{>navbar}}

<section class="main-section">
    <div class="flip-card-container">
        <div class="flip-card col-m-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/caption.jpeg" style="width:300px;height:250px">
                </div>
                <div class="flip-card-back">
                    <h2>Phuket, Thailand&nbsp<span class="fi fi-th"></span></h2>
                    <h4>By Aashay Nagar</h4>
                    <br>
                    <a href="/" class="fa-brands fa-2xl fa-github"></a>
                </div>
            </div>
        </div>
        <div class="flip-card col-m-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/20211230_120307.jpg" style="width:300px;height:250px">
                </div>
                <div class="flip-card-back">
                    <h2>St. Thomas, USVI<span class="fi fi-us"></span></h2>
                    <h4>By Mustapha Taylor</h4>
                    <br>
                    <a href="https://github.com/mtaylo1" class="fa-brands fa-2xl fa-github"></a>
                </div>
            </div>
        </div>
        <div class="flip-card col-m-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/melbourne-cityscape-in-the-night-time--576820760-2a5ae924d0e84590bcafdd5084d00957.jpeg"
                        style="width:300px;height:250px">
                </div>
                <div class="flip-card-back">
                    <h2>Melbourne, Australia&nbsp<span class="fi fi-au"></span></h2>
                    <h4>By Andy Loo</h4>
                    <br>
                    <a href="/" class="fa-brands fa-2xl fa-github"></a>
                </div>
            </div>
        </div>
        <div class="flip-card col-m-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/wallpaperflare.com_wallpaper.jpg" style="width:300px;height:250px">
                </div>
                <div class="flip-card-back">
                    <h2>Zermatt, Switzerland&nbsp<span class="fi fi-ch"></span></h2>
                    <h4>By Chi Chiu Lam</h4>
                    <br>
                    <a href="https://github.com/chichiulam2022" class="fa-brands fa-2xl fa-github"></a>
                </div>
            </div>
        </div>

    </div>

</section>

{{>footer}}