{{>navbar}}

<div id="about-us-intro-text">
    <h2>Our Team's Favourite Destinations:</h2>
</div>

<section class="flip-card-container">


    <div class="flip-card col-m-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/images/pedro-lastra-Nyvq2juw4_o-unsplash.jpg" style="width:300px;height:250px">
            </div>
            <div class="flip-card-back">
                <h2>John Doe</h2>
                <h4>Architect & Engineer</h4>
                <br>
                <a href="/" class="fa-brands fa-2xl fa-github"></a>
            </div>
        </div>
    </div>
    <div class="flip-card col-m-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/images/20211230_120307.jpg" style="width:300px;height:250px">
            </div>
            <div class="flip-card-back">
                <h2>St. Thomas, USVI 🇺🇸</h2>
                <h4>By Mustapha Taylor</h4>
                <br>
                <a href="https://github.com/mtaylo1" class="fa-brands fa-2xl fa-github"></a>
            </div>
        </div>
    </div>
    <div class="flip-card col-m-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/images/road-1072821__340.jpeg" style="width:300px;height:250px">
            </div>
            <div class="flip-card-back">
                <h2>Andy Loo</h2>
                <h4>Architect & Engineer</h4>
                <br>
                <a href="/" class="fa-brands fa-2xl fa-github"></a>
            </div>
        </div>
    </div>
    <div class="flip-card col-m-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/images/wallpaperflare.com_wallpaper.jpg" style="width:300px;height:250px">
            </div>
            <div class="flip-card-back">
                <h2>Zermatt, Switzerland🇨🇭</h2>
                <h4>By Chi Chiu Lam</h4>
                <br>
                <a href="https://github.com/chichiulam2022" class="fa-brands fa-2xl fa-github"></a>
            </div>
        </div>
    </div>

    </div>



</section>



{{>footer}}