{{>navbar}}
<section class="container col-11 d-flex align-items-center">
    <div class="card" style="width:18rem">
        <img class="card-img-top" src="/images/pexels-luis-del-río-15286.jpg" alt="Card image">
        <div class="card-body bg-danger">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card ml-5" style="width:18rem">
        <img class="card-img-top" src="/images/lake-nature-night-reflection-r1.jpeg" alt="Card image">
        <div class="card-body bg-info">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card ml-5" style="width:18rem">
        <img class="card-img-top" src="/images/download1.jpeg" alt="Card image">
        <div class="card-body bg-success">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Text</p>

        </div>
    </div>
    <div class="card ml-5" style="width:18rem">
        <img class="card-img-top" src="/images/lake-nature-night-reflection-r1.jpeg" alt="Card image">
        <div class="card-body bg-dark">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</section>

{{>footer}}