{{>navbar}}
<section class="hero">
    <div class="text-container">
        <div class="hp-welcome">
            <h1>Welcome<span id="mad-travellers">&nbspNoMadTravellers</span>&nbsp!</h1>
        </div>
        <br>
        <div class="hp-welcome-intro">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi cumque dolores explicabo nam
                numquam
                placeat laboriosam odit, rem corporis maiores hic nemo quas architecto labore. Molestias doloribus modi
                quae atque.</h5>
        </div>
    </div>
</section>