{{>navbar}}

<section class="hero">
    <div class="text-container">
        <div class="hp-welcome">
            <h1>Welcome<span id="mad-travellers">&nbspNoMadTravellers</span></h1>
        </div>
        <br>
        <br>
        <div class="hp-welcome-intro">
            <h5><span id="brand-name">NoMadTravel</span> is a community where we make it easy to catch up with news and
                share travel information with
                others in one place. Enjoy!</h5>
        </div>
    </div>
</section>

<div id="carousel-box" class="carousel slide" data-ride="carousel" style="background: #310404;">
    <ol class="carousel-indicators">
        <li data-target="" data-slide-to="0" class="active"></li>
        <li data-target="" data-slide-to="1"></li>
        <li data-target="" data-slide-to="2"></li>
        <li data-target="" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0" style="min-height: 100px;">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/gloria-cretu-iek_zWEB0Fw-unsplash.jpg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>Rome</h1>
                        <h5 class="mt-5" id="rome-text">
                            Rome is the Eternal City, a treasure inside and out. The Colosseum, the Catacombs and the
                            Pantheon are all among Europe's first tier of ancient sites. But Rome isn't just a
                            gloriously ancient city. It's also a glorious medieval city, a glorious Renaissance city and
                            a glorious modern city.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/photo-1651282025371-cba45f48d2cc.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>New York</h1>
                        <h5 class="mt-5" id="ny-text">First settled by the Dutch as
                            “New Amsterdam”
                            in 1624, the city came under English control in 1664. The city was a major trading center
                            thanks to its location at the
                            mouth of the Hudson River. After the American Revolution, New York became the seat of
                            America's power and government, officially becoming the nation's capital in 1789 when George
                            Washington was sworn in.
                        </h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/75a4fee6a29247b862a161906a230023.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>India</h1>
                        <h5 class="mt-5" id="india-text">India is the largest country in South Asia. The word "Indian"
                            comes from Sindhu, a local name for the Indus River. Indians also call their country
                            "Bharat," the name of a legendary emperor.

                            Indian history dates to the third millennium BC when Harappan civilization flourished in the
                            Indus Valley. Aryan-speaking tribes from Central Asian began settling in northwestern India
                            around 1700 BC . These groups eventually took over much of India.

                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/Toronto-city-hall-photo-by-shawn-m-kent-uai-516x723.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>Toronto</h1>
                        <h5 class="mt-5" id="toronto-text">Toronto, city, capital of the province of Ontario,
                            southeastern Canada. It is the most populous city in Canada, a multicultural city, and the
                            country’s financial and commercial centre. Its location on the northwestern shore of Lake
                            Ontario, which forms part of the border between Canada and the United States, and its access
                            to Atlantic shipping via the St. Lawrence Seaway and to major U.S. industrial centres via
                            the Great Lakes have enabled Toronto to become an important international trading centre.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/alex-azabache-3kWnlPdRZAI-unsplash.jpg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>Paris</h1>
                        <h5 class="mt-5" id="paris-text">Paris has been a symbol of the nation for over a thousand
                            years, since it became the capital of France in 987. Its role as capital led each monarch in
                            turn to further enrich the city, making it one of the world’s most delightful cities.

                            To this day, Paris transmits all the atmosphere of its glorious past, with its grand
                            buildings from the Napoleonic age, magnificent Gothic Cathedrals such as Nôtre Dame, opulent
                            buildings such as Les Invalides, and its splendid museums such as the Louvre.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-box" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-box" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<body>
    <div class="container">
        <div class="row justify-content-center">
            {{#each data}}
            {{>blogcard}}
            {{/each}}
        </div>
    </div>
</body>

{{>footer}}