{{>navbar}}

<section class="hero">
    <div class="text-container">
        <div class="hp-welcome">
            <h1>Welcome<span id="mad-travellers">&nbspNoMadTravellers</span></h1>
        </div>
        <br>
        <br>
        <div class="hp-welcome-intro">
            <h5><span id="brand-name">NoMadTravel</span> is a community where we make it easy to catch up with news and
                share travel information with
                others in one place. Enjoy!</h5>
        </div>
    </div>
</section>

<div id="carousel-box" class="carousel slide" data-ride="carousel" style="background: #310404;">
    <ol class="carousel-indicators">
        <li data-target="" data-slide-to="0" class="active"></li>
        <li data-target="" data-slide-to="1"></li>
        <li data-target="" data-slide-to="2"></li>
        <li data-target="" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0" style="min-height: 100px;">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/gloria-cretu-iek_zWEB0Fw-unsplash.jpg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>Rome</h1>
                        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolorem?
                            Necessitatibus molestias explicabo quibusdam, qui voluptate libero perferendis autem
                            molestiae officiis veniam velit corporis unde minus dolores fugit laborum mollitia.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/photo-1651282025371-cba45f48d2cc.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>New York</h1>
                        <p class="mt-5">Hiiiiiii adipisicing elit. Debitis, dolorem?
                            Necessitatibus molestias explicabo quibusdam, qui voluptate libero perferendis autem
                            molestiae officiis veniam velit corporis unde minus dolores fugit laborum mollitia.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/75a4fee6a29247b862a161906a230023.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>India</h1>
                        <p class="mt-5">change Necessitatibus molestias explicabo quibusdam, qui voluptate libero
                            perferendis autem
                            molestiae officiis veniam velit corporis unde minus dolores fugit laborum mollitia.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/Toronto-city-hall-photo-by-shawn-m-kent-uai-516x723.jpeg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>Toronto</h1>
                        <p class="mt-5">change Necessitatibus molestias explicabo quibusdam, qui voluptate libero
                            perferendis autem
                            molestiae officiis veniam velit corporis unde minus dolores fugit laborum mollitia.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="container d-flex align-items-center" style="min-height: 100vh;">
                <div class="row align-item-center">
                    <div class="col-12 col-md-4 offset-md-1 mb-4 mb-md-0">
                        <img alt="image" class="img-fluid max-width: 200%"
                            src="/images/alex-azabache-3kWnlPdRZAI-unsplash.jpg">
                    </div>
                    <div class="col-12 col-md-6 ml-4 mt-5 text-left">
                        <h1>blueprints</h1>
                        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolorem?
                            Necessitatibus molestias explicabo quibusdam, qui voluptate libero perferendis autem
                            molestiae officiis veniam velit corporis unde minus dolores fugit laborum mollitia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-box" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-box" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<body>
    <div class="container">
        <div class="row justify-content-center">
            {{#each data}}
            {{>blogcard}}
            {{/each}}
        </div>
    </div>
</body>

{{>footer}}