{{>navbar}}
<section class="hero">
    <div class="text-container">
        <div class="hp-welcome">
            <h1>Welcome<span id="mad-travellers">&nbspNoMadTravellers</span></h1>
        </div>
        <br>
        <br>
        <div class="hp-welcome-intro">
            <h5><span id="brand-name">NoMadTravel</span> is a community where we make it easy to catch up with news and
                share travel information with
                others in one place. Enjoy!</h5>
        </div>
    </div>
</section>


<body>
    <div class="container">

        <div class="row justify-content-center">

            {{#each data}}
            {{>blogcard}}
            {{/each}}


            {{!--
            <div class=" col-md-4 mt-5">
                <div class="card shadow">
                    <div class="inner">
                        {{#each posts}}
                        <img class="card-img-top" src="{{image}}">
                        {{/each}}
                    </div>
                    <div class="card-text text-center mb-3">
                        {{#each posts}}
                        <h5 class="card-title mt-2 mx-3">{{title}}</h5>
                        <p class="card-text mx-2">{{{shortText content 100}}}
                            {{/each}}

                        </p>
                        <a href="a" class="read-more-link"><i
                                class="fa-solid fa-book-open-reader"></i>&nbsp&nbsp&nbspRead
                            More</a>
                    </div>
                </div>
            </div> --}}





        </div>

    </div>

</body>


{{>footer}}