{{>navbar}}
<section class="hero">
    <div class="text-container">
        <div class="hp-welcome">
            <h1>Welcome<span id="mad-travellers">&nbspNoMadTravellers</span></h1>
        </div>
        <br>
        <br>
        <div class="hp-welcome-intro">
            <h5><span id="brand-name">NoMadTravel</span> is a community where we make it easy to catch up with news and
                share travel information with
                others in one place. Enjoy!</h5>
        </div>
    </div>
</section>

<section>
    <h1>Testing</h1>
</section>

{{>footer}}