<div id="fullPage">
    <div class="section s1">
        <h1 class="intro-sec-text1">EAGER TO TRAVEL?</h1>
    </div>
    <div class="section s2">
        <h1 class="intro-sec-text2">WANNA SHARE YOUR JOURNEYS WITH OTHERS?</h1>
    </div>
    <div class="section s3">
        <h1 class="intro-sec-text3">CLICK&nbsp<a href="/homepage"><span id="intro-here-text">HERE</span></a>&nbspAND
            JOIN US
            NOW</h1>
    </div>
</div>