 <section>
        <div class="img-container">
            <img class='bg-img' id="intro-img-login" src="/images/david-mclenachan-K8IlloSJ4fI-unsplash.jpg">
        </div>

        <div class="content-container">
           
            <form action="" method="POST" novalidate class="form-box validated-form">
                <h2 class="login-text">Login</h2>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" placeholder="Enter Your Username" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
    
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" placeholder="Enter Your Password" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" placeholder="Enter Your Email" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="mb-4 custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                </div>
                
                <div class="mb-3 my-1">
                    <button type="submit" class="btn btn-primary" id="submit-btn">LOGIN</button>
                </div>

                <div class="input-box mb-3">
                    <p>Don't have an account? <a href="./register">Sign up</a></p>
                </div>

                <div class="mt-5">
                    <h5 class="login-text">Also Login with:</h5>
                    <ul class="social-icons-container">
                        <li><img src="/images/facebook.png"></li>
                        <li><img src="/images/instagram.png"></li>
                        <li><img src="/images/twitter.png"></li>
                    </ul>
                </div>
            
            </form>
            
        </div>

        <script src="/js/validateForms.js"></script>
        
</section>