{{!-- will delete --}}

<body>
    <h1>UPLOAD image</h1>
    <form method="POST" action="/blog/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>
</body>