@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    color: rgb(254, 254, 254);
    font-weight: 900;
}

.hero {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(30, 28, 28, 0.5), rgba(37, 34, 34, 0.5)), url("/public/images/download.jpeg");
    /* background: url("/public/images/download.jpeg"); */
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    filter: brightness(95%);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg, rgb(10, 9, 15) 49%, rrgb(42, 41, 43)98.8%);
    z-index: 1;
    mix-blend-mode: screen;
}

.text-container {
    text-align: center;
    max-width: 1200px;


}